/* 
font-family: 'Abel', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
 */
body {
  font-family: helvetica;
}
.ancho {
  width: 1200px;
  margin: auto;
}
#contenedor_arriba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#contenedor_arriba a {
  text-decoration: none;
  color: #333;
}
#logo {
  width: 200px;
}
#contenedor_menu {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#contenedor_login {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.azul {
  border: 1px #0092ed solid;
  border-radius: 5px;
  padding: 7px 30px;
  background-color: #0092ed;
  color: white !important;
}
#contenedor_code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#contenedor_code a {
  text-decoration: none;
}
#info {
  width: 550px;
  padding: 10px;
}
.titulo1 {
  font-family: "Lobster", cursive;
  font-size: 60px;
}
.titulo2 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
}
.titulo3 {
  font-family: "Anton", sans-serif;
  font-size: 30px;
}
.parrafo {
  font-family: "Abel", sans-serif;
  color: #1079a6;
  font-size: 20px;
  line-height: 34px;
}
#info a {
  text-decoration: none;
}
#sing {
  border: 1px #0092ed solid;
  padding: 7px 30px;
  border-radius: 10px;
  color: #0092ed;
  transition: all 0.5s;
}
#sing:hover {
  background-color: #0092ed;
  color: white;
}
#foto1 {
  width: 600px;
}
#foto1 img {
  width: 100%;
} /* Para que la foto se adapte al contenedor */
#iconos {
  text-align: center;
}
#logos {
  padding: 20px 10px;
}
.color_fondo {
  border-top: 20px #ebf7ff solid;
  background-color: #f5fbff;
  padding: 15px;
}
#empower {
  padding: 50px 10px;
  text-align: center;
}
#empower p {
  padding-top: 20px;
}
#azul_bajo {
  color: #0092ed;
}
.learn {
  color: #0092ed;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.learn:hover {
  text-decoration: underline !important;
}
#empowerteam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.infoempower {
  width: 550px;
}
.foto2 {
  width: 550px;
}
.foto2 img {
  width: 100%;
}
.color_tools {
  background-color: #ebf7ff;
  padding: 40px 10px;
}
#tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.reviewtools {
  width: 550px;
}
.fotoGitHub {
  width: 550px;
}
.fotoGitHub img {
  width: 100%;
}
.flecha {
  color: orange;
}
.engineers {
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.iconosWork {
  width: 550px;
}
.iconosWork img {
  width: 100%;
}
.infoWork {
  width: 550px;
}
.cont_Services {
  background-color: #ebf7ff;
  padding: 20px 10px;
}
.cont_Services h1{
  text-align: center;
}
.info_services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.iconos_service {
  font-size: 40px;
}
.circulo {
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf7ff;
  color: #0092ed;
  box-shadow: 0px 5px 5px #ccc;
  /* sirve para darle sombra X, Y BLUER Y COLOR */
}
.ongoing {
  border: 1px orange solid;
  text-align: center;
  width: 350px;
}