body {
  font-size: 16px;
  font-family: Helvetica;
}
#seccion_etiqueta {
  margin: auto;
  width: 1000px;
  border: 1px red solid;
  padding: 15px;
}
h1 {
  /*border: 1px green solid;*/
  text-align: center;
  color: #bf3e0f;
  /*background-color: #e3e3e3;*/
}
#contenedor_menu {
  background: #e3e3e3;
  padding: 20px;
  text-align: center;
}
#contenedor_menu a {
  /*border: 1px red solid;*/
  color: white;
  text-decoration-line: none; /* quitar subrayado */
  text-transform: uppercase; /* letras mayusculas */
  background-color: #0d78e7;
  /*padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:10px ;*/

  padding: 10px 50px;
  border-radius: 5px;
  margin-right: 10px;
  transition: all 800ms;
}
#contenedor_menu a:hover{
  background-color: black;
  padding: 10px 60px;
}
.parrafo {
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
}
.texto_azul {
  font-weight: bold;
  color: #15a015;
  font-size: 18px;
  text-decoration: underline;
  font-style: italic;
}
.negritas {
  font-weight: bold;
}

/* css del ejercicio 2 */

ol {
  padding-left: 20px;
}
ul {
  /*border:1px solid;*/
  padding-left: 60px; /* sirve para dar mas espacio a las viñetas(sangrias) */
}
li {
  text-align: justify;
  line-height: 1.5;
  /*border: 1px solid;*/
}
.naranja {
  color: #e77c0d;
  font-weight: bold;
}
#logo_css {
  width: 200px;
  display: block;
  margin: auto;
}
#contenedor_logo_html img {
  width: 175px;
  display: block;
  margin: auto;
}
iframe{
  width: 1000px;
  border: 10px orange solid;
}
table, tr, td {
  border: 1px solid;
  border-spacing: 5px;
}
tr, td {
  padding: 5px 80px 25px 5px;
}
tr {
  vertical-align: top;
}