* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: helvetica;
  font-size: 16px;
  color: #333;
  line-height: 24px;
}
.ancho {
  max-width: 1200px;
  margin: auto;
  border: 1px red solid;
}
#logo {
  margin: auto;
  padding: 20px 10px;
  max-width: 280px;
}
#logo img {
  width: 100%;
}
nav {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #28557a;
  background-color: transparent;
  border: 2px #28557a solid;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.5s;
}
nav a:hover {
  color: white;
  background-color: #28557a;
}
#contenedor {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  /*flex-wrap: wrap;*/
}
#contenedor a{
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
}
#contenedor h1{
  font-size: 25px;
  color: #cc9000;
  padding: 15px 0px;
}
#contenedor h1{
  padding-bottom: 20px;
}
footer {
  background-color: #28557a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a{
  text-decoration: none;
  color: white;
  padding: 35px 10px;
}